body {
	overflow: hidden;
	margin: 0px;
}

#message {
    background-color: transparent;
    border: 0 solid #C0C0C0;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 20px;

    left: 40px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 655px;
    vertical-align: middle;
    width: 1200px;
    z-index: 999;
}

.logotype {
    position: absolute;
    top: 620px;
    left: 1170px;
}

.overlay {
    display:none;
}

.titleinfo {
    position: absolute;
    top: 455px;
    left: 40px;
    max-width:530px;
}

.titleinfo_title {
    color:#E4E4E4;
    font-family: Arial;
    font-size:20pt;
    background: rgba(0,0,0,0.2);
}

.titleinfo_author {
    color:#E4E4E4;
    font-family: Arial;
    font-size:12pt;
    background: rgba(0,0,0,0.2);
}

.rotate90 {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;

    /* These styles positions the portrait video centrally using available height */
    width:704px;
    height:704px;
    position: absolute;
    left:280px; /* (1280-720) / 2   */

}

#progressbar {
    background-color: #111111;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    top:660px;
    left:40px;
    width:1200px;
}

#progressbar > div {
    background-color: orange;
    width: 0%;
    height: 14px;
}